/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29.10.2015, 10:19:47
    Author     : KB009
*/
body {
    margin: 0;
    /* font-weight: bold; */
    font-family: Tahoma, Geneva, sans-serif;
}

.node {
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  /* stroke: #000; */
  /* stroke-width: 1px; */
}

.link {
  stroke: #999;
  stroke-opacity: .9;
}

.collapsible .filter-nodes {
  cursor: pointer;
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gray;
  min-height: 20px;
  opacity: .8;
}

.filter-children tbody {
  width: 100%;
  display: block;
}

.filter-children tr {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    /* height: 23px; */
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    background: #eeeeee;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    pointer-events: none;
}


/*jQueryUI*/
/*
#submit {
    //width: 80%;
}*/

.children-selector .ui-dialog-titlebar {
    display:none;
}

#dialog {
    font-size: 14px;
    padding: 0; 
}

#dialog .contents table {
    margin-top: 3px;
    display: block;
    height: 205px;
    width: 218px;
    padding: 0;
    overflow-y: scroll;
    border: 1px solid gray;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           
}

#dialog .contents #selectAll {
    margin-left: 6px;
}
#dialog input,
#dialog label {
    cursor: pointer;
}

#dialog .contents .related-events {
   height: auto !important; 
   overflow-y: hidden;
   border: 0px;
   width: 180px;
   padding: 0 10px;
}
