/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.10.2015, 10:19:47
    Author     : KB009
*/
body {
    margin: 0;
    /* font-weight: bold; */
    font-family: Tahoma, Geneva, sans-serif;
}
.node {
  /* stroke: #000; */
  /* stroke-width: 1px; */
}

.link {
  stroke: #999;
  stroke-opacity: .9;
}

.menu {
  display: block;
  position: fixed;
  width: 100%;
  background-color: gray;
  min-height: 20px;
  opacity: .8;
}

/*jQueryUI*/

.children-selector .ui-dialog-titlebar {
    display:none;
}

#dialog .contents table {
    display: block;
    height: 239px;
    width: 248px;
    padding: 0;
    overflow-y: scroll;
    border: 1px solid gray;
}