body {
  font-family: sans-serif;
  font-size: 12px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 180px;
}

h2 {
  font-size: 15px;
  font-weight: bolder;
  /*margin-bottom: ;*/
}

h3 {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0.4em;
  margin-left: 10px;
}

.column {
  width: 19%;
  /*height: 150px;*/
  float: left;
  margin-top: 5px;
}

.buttonset-column {
  width: 45%;
  float: left;
  margin-top: 5px;
}

.buttonset {
  margin-bottom: 20px;
  /*width: 100%;  Nemusi vubec byt*/
}

.buttons-column {
  width: 13.76%;
  float: left;
  margin-top: 5px;
}

.slider-column {
  float: left;
  width: 65%;
}

.slider {
  width: 100%;
  margin: 0 10px;
  /*width: 70%*/
}

.radiobutton{
  width: 250px;
}

.label{
  font-weight: bold;
}

.color-scheme-button {
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 50px;
}


.slider-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  width: 90%;
  justify-content: space-between;
}

/*.slider-wrapper > span {*/
.sliderLabelLeft {
  margin: 0 10px;
  width: 8em;
  font-weight: bold;
  text-align: right;
}

.sliderLabelRight {
  margin: 0 10px;
  width: 1em;
  font-weight: bold;
}


#buttonset-block {
  width: 24.4%;
  margin-left: 10px;
  /*height: 100%;*/
}

#slider-block {
  width: 50.04%;
  /*height: 100%;*/
  float: left;
  margin-top: 5px;

}

#colorSchemes{
  /*width: 150px;*/
}

#slider-nodeSize-column {
  width: 28% ;
  float:left;
}

#div-button-column {
  margin-top: 50px;
}

#button-prefix-order {
  display: none;
}

#div-button-pin {
  height: 20px;
  background-color: #d1cdcd;
  opacity: 0.95;
}

#button-pin {
  float: right;
  width: 50px;
  /*margin-top: -1%;*/
  margin-right: 20px;
  position: absolute;
  /*bottom: 0px;*/
  right: 5px;
  margin-bottom: -15px;
  /*style="position: absolute; bottom: 0px; right: 5px; margin-bottom: -15px;"*/
}

#menu {
  position: absolute;
  width: 100%;
  /*height: 220px;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
}

#topmenu {
  background-color: #d1cdcd;
  opacity: 0.95;
  width: auto;
  /*height: 200px;*/
  height: 192px;
  /*border: 1px solid black;*/
}

.colorScheme .ui-dialog-titlebar {
    display: none;
}

.colorScheme .ui-dialog-buttonset {
    width: 90%;
}

.colorScheme button {
    width: 40%;
}
